html, body{
	height: 100%;
	margin: 0;
}

#topnav{
	
	display: flex;
	justify-content: flex-end;
	padding: 10px;
	background-color: #F7F7F7;
	z-index: 1;
}

#topnav div{ 
	margin: 0 5px 0 20px;
	
	display: flex;
	justify-content: center;
	align-items: center;
	color: darkgrey;
}


#topnav i:hover{
	cursor: pointer;
}

#hero h1{
	font-family: 'Open Sans', sans-serif;
	font-size: 35px;
	color: #444;
	font-weight: 300;
}

#herotext{
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	font-size: 19px;
}

#herotext a{
	color: cornflowerblue;
	text-decoration: none;
}

#herotext a:hover{
	text-decoration: underline;
}

#herotext:visited{
	color: blue;
}

#menu i{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 30px;
	width: 30px;
	border-radius: 5px;
	
}

#menu i:hover{
	animation: all;
	transition: 0.2s;
	background-color: darkgrey;
	color: white;
}

#gliph:hover{
	color: grey;
	cursor: pointer;
}



#privacy{
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 200;
	font-size: 15px;
}

#privacy:hover{
	cursor: pointer;
	color: grey;
}

main{

}

#hero{
	display: flex;
  height: 657px;
  margin: 0;
  justify-content: center;
	align-items: center;
	background-color:#F7F7F7;
	flex-direction: column;
}

#heroduck{
	height: 120px;
	width: 120px;
}

#search{
	width: 90%;
	max-width: 600px;
	display: flex;
	flex-direction: row;
	border: 1px solid #eee;
	border-radius: 5px;
	box-shadow: 0px 1px 1px silver;
	margin: 10px;
	
}

input{
	width: 100%;
	height: 43px;
	border-radius: 5px 0px 0px 5px;
	border: solid 1px white;
	padding-left: 20px;
	outline: none;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 20px;
	font-weight: 200;

}

input::-webkit-search-cancel-button{
    position:relative;
    right:20px;
    height: 20px;
    width: 20px;
    background-color: green;    
}

#mag{
	position: relative;
	right: 0px;
	color: darkgrey;
	background-color: white;
	margin: auto;
	padding: 15px 15px 15px 15px;
	border-radius: 0px 5px 5px 0px;
	}

#mag:hover{
	background-color: #66AD57;
	color: white;
	cursor: pointer;
}	

#herotext{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin: 10px;
}

#teaser{
	margin-top: 50px;
}


@media(max-width:800px){
    #herotext {
    font-size:15px;
    } 
  }


fith-page


#second{
	display: flex;
    height: 591px;
    margin: 0;
    color: white;
	background-color: #58B792;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;

	
}

.uptop{
	display: flex;
	justify-content: flex-start;
	align-items: center;
    flex-direction: column;
    padding-top: 30px;
}

.bigfont{
	font-family: 'PT Sans', sans-serif;
	font-size: 40px;
    text-align: center;
}




.imgscale{
	height: 250px;
	width: 100%;  }

    .scale{
        display: flex;
        align-items: flex-end;
        margin-top: 10px;
    
    }

 #experience{   
    background-color: #58b792;
}

#follow {
    background-color: #f5a339;
}

#third{
	display: flex;
  height: 591px;
  margin: 0;
  color: white;
	background-color: #F5A339;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	
}

#shower {
	background-color: #5f63bd;
}

#fourth{
	display: flex;
  height: 591px;
  margin: 0;
  color: white;
	background-color: #5F63BD;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	
}   

#mountain-man {
	background-color: #87cef5;
}

#fifth{
	display: flex;
  height: 657px;
  margin: 0;
  color: #365374;
	background-color: #87CEF5;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	
}



#morelinks{
	position: absolute;
	right: 20px;
	padding: 20px;
	font-family: 'Source Sans Pro', sans-serif;
}
#morelinks a {
	color: black;
}

#link1{
	text-decoration: none;
	font-size: 17px;
}

#link1:hover{
	text-decoration: none;
	color: black;
}

#link2{
	text-decoration: none;
	font-weight: 1000;
	font-size: 22px;
}

#link2:hover{
	text-decoration: none;
}

.bigbutton{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 19px;
	font-weight: 600;
	text-align: center;
	padding: 10px;
	border-radius: 5px;
	background-color: rgba(0,0,0,0.4);
	border: none;
	outline: none;
	color: white;
	height: 44px;
	margin: 10px;  
	cursor: pointer;
}

